.column {
    display: flex;
    flex-direction: column;
}

.column-start {
    align-items: flex-start;
}

.column-end {
    align-items: flex-end;
}

.column-center {
    align-items: center;
}

.column-stretch {
    align-items: stretch;
}

.column-baseline {
    align-items: baseline;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-start {
    justify-content: flex-start;
}

.row-end {
    justify-content: flex-end;
}

.row-center {
    justify-content: center;
}

.row-space-between {
    justify-content: space-between;
}

.row-space-around {
    justify-content: space-around;
}

