@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

body {
    /* center the element
    margin-right: auto;
    margin-left: auto; */
}

header {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    text-align: center;
}

nav {

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #343a40!important;

}

nav ul {
    margin: 0;
    padding: 4px;
}

nav ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
    color: rgba(255,255,255,.5);
}

nav ul li a {
    color: rgba(255,255,255,.5);
}

nav ul li a:hover {
   color: #ffffff;
}

main {
    margin: 50px;
    display: flex;
}

section {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

section H2 {
  font-family: 'Shadows Into Light', cursive;
  text-decoration: underline;
}

footer {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    border-top: 1px solid blue;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer i {
  padding: 1em;
}

.btn {
  margin-left:1em;
  margin-top: 1em;
  margin-bottom: 0em;
  padding: 0em;
  height: 2em;
  line-height: 2em;
  width: 2em;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
   background: #4CCA50;
}